---
import Layout from '../layouts/Layout.astro';
import useDirectus from '@/composables/useDirectus';

const directus = await useDirectus();

const response = await directus.items('movies').readByQuery({
	fields: ['*'],
});


---

<Layout title="Beerinabox">
	<main>
		<h1>Beer in a box</h1>

		<pre>
			<code>
				{JSON.stringify(response.data)}
			</code>
		</pre>
	</main>
</Layout>

<style>
</style>
